<form method="post" action="{{ path('semestre_delete', {'id': semestre.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer le semestre ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ semestre.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
