{% extends 'base.html.twig' %}

{% block title %}Modifier semestre{% endblock %}

{% block body %}
    <h1>Modifier le semestre</h1>

    <a href="{{ path('semestre_index') }}">Retour a la liste</a>

    {{ include('semestre/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('semestre/_delete_form.html.twig') }}
{% endblock %}
