{% extends 'base.html.twig' %}

{% block title %}Semestre{% endblock %}

{% block body %}
    <h1>Liste des semestres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Formation</th>
                <th>Semestre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for semestre in semestres %}
            <tr>
                <td>{{ semestre.id }}</td>
                <td>{{ semestre.formation }}</td>
                <td>{{ semestre.semestre }}</td>
                <td>
                    <a href="{{ path('semestre_edit', {'id': semestre.id}) }}">Modifier</a>
                    <a href="{{ path('semestre_cours', {'id': semestre.id}) }}">Voir cours</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('semestre_new') }}">Ajouter semestre</a>
{% endblock %}
