{% extends 'base.html.twig' %}

{% block title %}Nouveau semestre{% endblock %}

{% block body %}
    <h1>Crée un nouveau semestre</h1>

    <a href="{{ path('semestre_index') }}">Retour a la liste</a>

    {{ include('semestre/_form.html.twig') }}
{% endblock %}
