<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">CC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ activeMenu(['menu']) }}">
                        <a class="nav-link" href="/">Menu</a>
                    </li>
                    <li class="nav-item {{ activeMenu(['cours_index']) }}">
                        <a class="nav-link" href="{{path('cours_index')}}">Cours</a>
                    </li>
                    <li class="nav-item {{ activeMenu(['semestre_index']) }}">
                        <a class="nav-link" href="{{path('semestre_index')}}">Semestre</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
