<form method="post" action="{{ path('cours_delete', {'id': cour.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer le cours ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
