{% extends 'base.html.twig' %}

{% block title %}Modifier cours{% endblock %}

{% block body %}
    <h1>Modifier cours</h1>

    <a href="{{ path('cours_index') }}">Retour a la liste</a>

    {{ include('cours/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
