{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Liste des cours {% if semestre is defined %} du semestre {{ semestre }} {% endif %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Semestre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nom }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.semestre }}</td>
                <td>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">Modifier</a>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Ajouter un cours</a>
{% endblock %}
