{% extends 'base.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}
    <h1>Crée un nouveau cours</h1>

    <a href="{{ path('cours_index') }}">Retour a la liste</a>

    {{ include('cours/_form.html.twig') }}
{% endblock %}
