{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    {% apply markdown_to_html %}
    # Cours

    <a href="{{ path('cours_index') }}">Retour a la liste</a>

    > Ce texte est ecrit en markdown

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cour.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">Modifier</a>

    {% endapply %}

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
